
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
:root{
    --cor-da-letra: rgb(0, 0, 0);
    /*Color de letra*/
    --cor-de-fundo: rgb(231, 192, 192);
    /*Color de fondo de la página*/
    --fundo-senha:rgb(235, 168, 168);
    /*Color del lugar donde estará la contraseña*/
    --fundo-texto:rgb(241, 171, 171);
    --borda: rgb(255, 0, 0);
    /*Color del borde*/
    --fonte: "Sevillana";
    --fonte2: "Acme";
/*Aquí están las variables de nuestra página*/
}

body{
    color: var(--cor-da-letra);
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte); 
}

.titulo-principal{
    font-size: 65px;
    /*Tamaño de fuente del título*/
    text-align: center;
}

.conteudo{
    text-align: center;
    width: 100%;
    /*Ancho de la primera parte*/
    margin: 0 auto;
    margin-top: 30px;
    /*Espacio encima de la primera parte*/
}

.conteudo-titulo{
    text-align: center;
    margin-top: 30px;
    /*Espacio encima del título*/
}

.titulo-secundario{
    font-size: 25px;
    /*Tamaño del segundo título*/
    font-family: var(--fonte2);
    text-align: center;
    
}
.conteudo-senha{
    margin-top: 20px;
    background-color: var(--fundo-senha);
    border-radius: 35px;
    /*Qué tan redondeada es la ubicación de la contraseña*/
    padding: 40px;
    /*Espacio interno para contraseña*/
    border-bottom: 5px solid var(--borda);
    font-size: 60px;
    /*Tamaño de letra al lado de la contraseña*/
}
    
#campo-senha{
    background-color: var(--cor-da-letra);
    color: var(--cor-do-titulo);
    width: 80%;
    font-size: 38px;
    /*Tamaño de letra en el que se escribirá la contraseña*/
    border-radius: 30px;
}
    
#campo-senha:focus{
    outline:none;
    background-color: var(--fundo-campo);
}

.parametro-titulo{
    font-family: var(--fonte2);
    font-size: 30px;
    /*Tamaño del título del área de parámetros*/
}
 
.parametro{
    font-family: var(--fonte2);
    font-size: 15px;
    /*Tamaño de letra en parámetros*/
    background-color: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 20px;
    padding: 20px;
    /*Espacio alrededor de los parámetros*/
}